.footer {
    font-size: 14px;
    height: 50px;
    background: hsl(30, 29%, 95%);
    color: hsl(0, 3%, 14%);
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}